.home-container{
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: #F8EDE5;
    padding-top: 50px;  
    overflow-x: hidden;
    overflow-y: scroll;
}
.home-container::-webkit-scrollbar{
    display: none;
}
.inputGen-container{
    margin: 0 auto;
    height: max-content;
    width: max-content;
}
.inputGen-container>form{
    width: 60vw;
    height:50vh;
    background-color: #4a8cb067; 
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.inputGen-container>form>.mainoptions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.inputGen-container>form>.mainoptions>button{
    width: 40%;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    border-radius: 10px;
    background-color: #8e6c56; 
    font-weight: bold;
    color: aliceblue;
}

#title-input,#password-output,#username-input{
    width:70%;
    height: 35px;
    border-radius: 5px;
    padding-left: 8px;
}
#title-input::placeholder,#password-output::placeholder,#username-input::placeholder{
    padding-left: 10px;
}
.inputGen-container>form :nth-child(4){
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#passwordEyeBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 16%;
    background-color: transparent;
    outline: none;
    border: none;
}
#copyPasswordBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 11%;
    border: 0px;
    background-color: transparent;
    font-size: medium;
}
.inputGen-container>form>div:last-child{
    width: 100%;
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
    gap:10%;
    margin-top: 20px;
}


#regenerateBtn,
#saveBtn{
    padding: 10px 20px;
    border-radius: 7px;
    width: max-content;
    background-color: rgb(54 64 109);
    font-weight: bold;
    color: aliceblue;
}


h2{
    text-align: center;
    margin-top: 50px;
}

.addPass{
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #8e6c56;
    color: white;
    font-size: medium;
}

@media screen and (max-width:950px) {
    .inputGen-container>form{
        width: 80vw;
    }
}


@media screen and (max-width:700px) {
    .inputGen-container>form{
        height:65vh;
    }
    .inputGen-container>form>.mainoptions{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .inputGen-container>form>.mainoptions>button{
        width: 80%;
    }
    #title-input, #password-output, #username-input{
        width: 80%;
    }
    #passwordEyeBtn{
        right: 10%;
    }
    #copyPasswordBtn{
        right: 4%;
    }
}

@media screen and (max-width:350px) {
    .inputGen-container>form{
        width: 90vw;
    }
    #title-input, #password-output, #username-input{
        width: 85%;
    }
    #passwordEyeBtn{
        right: 7%;
    }
    #copyPasswordBtn{
        right: -2%;
    }
}