.home-container{
    width: 100vw;
    /* min-height: 100%; */
    height: calc(100vh - 70px);
    background-color: yellow;
    padding-top: 50px;  
    overflow-x: hidden;
    overflow-y: scroll;
}
/* .home-container::-webkit-scrollbar{
    display: none;
} */
.inputGen-container{
    margin: 0 auto;
    height: max-content;
    width: max-content;
}
.inputGen-container>form{
    width: 60vw;
    height:50vh;
    background-color: purple;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.inputGen-container>form button{
    cursor: pointer;
}
.inputGen-container>form>.mainoptions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.inputGen-container>form>.mainoptions>button{
    width: max-content;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    border-radius: 10px;
}

#title-input,#password-output{
    width:70%;
    height: 35px;
    border-radius: 5px;
}
#title-input::placeholder,#password-output::placeholder{
    padding-left: 10px;
}
.inputGen-container>form :nth-child(3){
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#copyPasswordBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15%;
}
.inputGen-container>form>div:last-child{
    width: 100%;
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
}


#regenerateBtn,
#saveBtn{
    padding: 10px 15px;
    border-radius: 7px;
}


/*  */

h2{
    text-align: center;
    margin-top: 50px;
}

.addPass{
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}