nav{
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(53, 62, 110);    
}
nav>div{
    margin: 50px;
}
nav>.logo{
    margin: 50px;
}
.profileBtn>button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(53, 62, 110); 
    background-color:aliceblue;
}
.profileList{
    position: absolute;
    top: 70px;
    right: 20px;
    background-color:rgb(24, 30, 56);  
    border: 0px solid;
    width: 100px;
    border-radius: 10px;
}
.profileList>li{
    margin: 10px 0;
    list-style: none;
    text-align: center;
}
.profileList>li>button{
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 0px solid;
    font-weight:600;
    color: aliceblue;
}