.savedPass-container{
    width: 90%;
    height: max-content;
    min-height: 30%;
    margin: 0 auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-row-gap: 50px;
    overflow: hidden;
}
.savedPass-container>.savedPass-card{
    width: 280px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin:auto ;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 0px 8px 0px #635c5c;  
    overflow: hidden;
}
.savedPass-container>.savedPass-card>p{
    height: max-content;
    max-height: 85px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}
.savedPass-card>.credentailDiv{
    width: 100%;
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.savedPass-card>.credentailDiv>input{
    width:80% ;
    height: 30px;
    margin-left: 5px;
    background: none;
    border:none;
    border-bottom: 1px solid;
    text-align: center;
}
.savedPass-card>.credentailDiv>.eyeBtn{
    position: absolute;
   right: 8%;
}
.savedPass-card>.credentailDiv>.copyBtn{
    position: absolute;
    right: -2%;
}
.cardIconBtn>i{
    font-size: 14px;
}
.cardIconBtn{
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}
.savedPass-card>.card-buttons>button{
    padding: 8px 10px;
    width : 90px;
    margin: 10px;   
    border-radius: 10px; 
    cursor: pointer;
    background-color: rgb(85, 93, 141); 
    font-weight: bold;
    color: aliceblue;
}

@media screen and (max-width:700px) {
    .savedPass-container>.savedPass-card{
        width: 262px;
    }
    .savedPass-container{
        grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
    }
}
@media screen and (max-width:300px) {
    .savedPass-container>.savedPass-card{
        width: 250px;
    }
    .savedPass-container{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}